<!DOCTYPE html>
<html class="h-100">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DocLibMan</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
        <link href="~/css/site.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link href="~/css/site.min.css" rel="stylesheet" />
    </environment>

    <link href="https://kendo.cdn.telerik.com/2023.1.117/styles/kendo.bootstrap-v4.min.css" rel="stylesheet" type="text/css" />
    <script src="https://kendo.cdn.telerik.com/2023.1.117/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2023.1.117/js/jszip.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2023.1.117/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2023.1.117/js/kendo.aspnetmvc.min.js"></script>
    <script src="~/js/kendo-ui-license.js"></script>
</head>
<body class="d-flex flex-column h-100">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

            <kendo-button name="configure" tag="button" icon="menu" class="k-rpanel-toggle k-primary btn-toggle"></kendo-button>
            <a asp-controller="Home" asp-action="Index" class="navbar-brand">
                <span style="color:black;">DocLibMan</span>
            </a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <kendo-responsivepanel name="responsive-panel" auto-close="false" breakpoint="768" orientation="top">
                            @(Html.Kendo().Menu()
                                .Name("Menu")
                                .Items(items =>
                                {
                                    items.Add().Text("Home").Action("Index", "Home").Enabled(true).Visible(true);
                                    items.Add().Text("Admin").Action("Admin", "Home").Enabled(true).Visible(true);
                                    items.Add().Text("Search").Action("Index", "Search").Enabled(true).Visible(true);
                                })
                                )

                        </kendo-responsivepanel>
                    </li>
                </ul>
                <partial name="_CurrentUserPartial" />
            </div>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>

    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.025);">
                Copyright © @DateTime.Now.Year DocLibMan All rights reserved.
                <a class="text-dark" href="https://doclibman20230301213400.azurewebsites.net/">DocLibMan</a>
            </div>
            <!-- Copyright -->
        </div>
    </footer>

    <environment names="Development">
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"></script>
    </environment>
    @await RenderSectionAsync("scripts", required: false)
</body>
</html>
