@{
    Layout = "_Layout";
}
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <h1>Welcome to DocLibMan!</h1>
        <h4>Upload and Search Text Documents in the Cloud</h4>
    </div>
</div>