@{
    Layout = "_Layout";
}

<div class="d-flex flex-column min-vh-95 justify-content-center align-items-center">
    <h1>Welcome to DocLibMan!</h1>
    <p>Upload and Search Text Documents in the Cloud.</p>
    @Html.ActionLink("Get Started", "Admin", "Home", new object { }, new { @class = "btn btn-lg btn-primary" })
</div>